/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #1B98E0;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    max-width: 100%;
}

.logo h1 {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Amatic SC', cursive; /* Use a different accessible font here */
    font-size: 2em;
}

.search-form {
    margin: 20px auto;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    background-color: #59c3c3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Styles */
main {
    padding: 20px;
}
.recipe {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto for the image, second column takes remaining space */
    grid-gap: 10px; /* Gap between grid items */
    align-items: start; /* Align items to the start of each row */
}

/* Adjust the width of the image and align it to the left */
.recipe img {
    width: 100%;
    height: auto;
}

/* Stack the title and rating on top of each other */
.title-rating {
    margin-bottom: 10px; /* Add some space between the title-rating and the description */
}

/* Ensure the description is below the title and rating */
.description {
    grid-column: 2; /* Place the description in the second column */
    grid-row: 3; /* Place the description in the third row */
}
.rating {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.icon-star {
    color: #FFD700;
}

.icon-star-empty {
    color: #ccc;
}

.description {
    display: none; /* Hide description on small screens */
}

/* Footer Styles */
footer {
    background-color: #1B98E0;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.attribution {
    font-size: 0.6em; /* Reduce size of attribution link */
}

.social {
    margin-top: 10px;
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    max-width: 100%;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .recipe {
        display: flex;
        align-items: center;
    }

    .description {
        display: block; /* Show description on wider screens */
    }
}

@media (min-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }

    .recipe {
        justify-content: space-between;
    }
}
